* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(255, 255, 255, 0.178));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 50px;
    margin: 20px;
    border-radius: 20px;
    
}

.div-head1 {
    display: flex;
    align-items: center;
}

.user-name{
    margin-right: 30px;
}

.user-photo {
    width: 55px;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:crimson; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, crimson, rgb(243, 115, 115));
    border-radius: 10px 100px / 120px;
}

.div-head2 {
    display: flex;
    align-items: center;
    flex-direction:row;
    transition: 2s;
}

.div-head2:hover {
    scale: 1.5px;

}

.section {
    width: 20%;
    background-color: aquamarine;
}

.div-conteiner {
    margin-top: 20px;
    margin-left: 480px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: white;
    border: 10px solid;
    padding: 10px;
    border: double 4px transparent;
    border-radius: 60px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #f00,#3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }



.div1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  max-width: 100px;
  align-items: center;
}

.user-name-post {
 
  color: red;
  display: inline-block;
  margin-right: 50px;
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    width: 340px;
    margin-top: 5px;
    box-sizing: 2px;
    justify-content: center;
}

.content-post {
  
  text-align: center;
  width: 380px;
  height: 250px;
  object-fit:cover;
  align-self: center;
}

.div4 {
    align-self:baseline;
}

.user-photo1 {
  width: 55px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}


 /* like and comments button style */
.button-like {
  border: 2px solid #8a8a8a;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  color: #8a8a8a;
  transition: all ease 0.4s;
  margin-top: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
  

.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}
  
.button-like:focus {
    background-color: transparent;
}
  
.button-like:focus .fa,
.button-like:focus span {
    color: #8a8a8a;
}
  
.button-like:hover {
    border-color: crimson;
    background-color: rgba(220, 20, 60, 0.178);
}
  
.button-like:hover .fa,
.button-like:hover span {
    color: #cc4b37;
}
  
.liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
}
  
.liked .fa,
.liked span {
    color: #fefefe;
}
  
.liked:focus {
    background-color: #cc4b37;
}
  
.liked:focus .fa,
.liked:focus span {
    color: #fefefe;
}
  
.liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;

}
  
.liked:hover .fa,
.liked:hover span {
    color: #fefefe;
}

.button-like:active span{
  
  
  box-shadow: none;
}
 .button {
    display: flex;
    width: 100%;
 } 
/* ------------------------------------ */

  
  
  

