* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
}

.logo {
    width: 50px;
    margin: 20px;
    
}

.div-head1 {
    display: flex;
    align-items: center;
}

.user-name{
    margin-right: 30px;
}

.user-photo {
    width: 55px;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
}

.div-head2 {
    display: flex;
    align-items: center;
    flex-direction:row;
}

.section {
    width: 20%;
    background-color: aquamarine;
}

.post {
    margin-top: 20px;
    margin-left: 480px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 464px;
    background-color: white;
    border: 10px solid;
    padding: 10px;
    border-image-source:linear-gradient(45deg ,red, blue);
    border-image-slice: 70;
    border-radius: 40px

  }

.ronaldo {
    color: aqua;
}

.div-photo-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  max: width 100px;
  align-items: center;
}

.user-name-post {
 
  color: red;
  display: inline-block;
  margin-right: 50px;
}

.div-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    background-color:rebeccapurple;
    width: 340px;
    margin-top: 5px;
    box-sizing: 2px;
    justify-content: center;
}

.content-post {
  margin-left: 14px;
  width: 380px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

.like-button {
    align-self:baseline;
}

.user-photo1 {
  width: 55px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
}

.logo {
    width: 50px;
    margin: 20px;
    
}

.div-head1 {
    display: flex;
    align-items: center;
}

.user-name{
    margin-right: 30px;
}

.user-photo {
    width: 55px;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: crimson;
}

.div-head2 {
    display: flex;
    align-items: center;
    flex-direction:row;
}

.section {
    width: 20%;
    background-color: aquamarine;
}

.post {
    margin-top: 20px;
    margin-left: 480px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 464px;
    background-color: white;
    border: 10px solid;
    padding: 10px;
    border-image-source:linear-gradient(45deg ,red, blue);
    border-image-slice: 70;
    border-radius: 40px

  }

.ronaldo {
    color: aqua;
}

.div-photo-post {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 210px;
  max: width 100px;
  align-items: center;
}

.user-name-post {
 
  color: red;
  display: inline-block;
  margin-right: 50px;
}

.div-post {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    background-color:rebeccapurple;
    width: 340px;
    margin-top: 5px;
    box-sizing: 2px;
    justify-content: center;
}

.content-post {
  margin-left: 14px;
  width: 380px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

.like-button {
    align-self:baseline;
}

.user-photo1 {
  width: 55px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
}