* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dank Mono", ui-monospace, monospace;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.295), rgba(255, 255, 255, 0.178));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo {
    width: 50px;
    margin: 20px;
    border-radius: 20px;
    
}

.div-head1 {
    display: flex;
    align-items: center;
    flex-direction:row;
}

.user-name{
    margin-top: 50px;
    margin-right: 30px;
    font-size: 250%;
    color:lightblue;
    
    
}

.user-photo {
    margin-left: 85px;
    margin-top: 30px;
    width: 150px;
    margin-right: 10px;
    background-color: black;
    border-radius: 75px;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:crimson; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, crimson, rgb(243, 115, 115));
    border-radius: 10px 100px / 120px;
}

.div-head2 {
    display: flex;
    height: 500px;
    flex-direction: row;
    align-items:flex-start;
    width: 1200px;
    background-image: linear-gradient(to bottom right, crimson, rgba(241, 203, 203, 0.678));
    border-radius: 600px; 
    
}





.content-post {
  margin-left: 14px;
  width: 380px;
  height: 300px;
  object-fit: cover;
  align-self: center;
}

.container {
    display: flex;          
    flex-direction:row;  
    justify-content: center; 
    justify-content: space-evenly;
    align-items: center;     
    height: 600px;
    
}

.container-user {
    font-size: 250%;
    white-space: nowrap;
    display: inline-flex;
    position: relative;
    
}

.lista {
    margin-left: 20px;
    width: 200px;
    margin-top: 30px;
}

.lista-div{
    display: flex;
    width: 500px;
    height: 500px;
    align-self:center;
    margin-right: 200px;
    justify-content: center;
    flex-direction: column;
    
    
}

li p {
    white-space: nowrap;
}

.a-logo {
    display:flex;
    align-items: center;
}

.a-logo:link {
    text-decoration: none;
}

.a-logo:visited {
    text-decoration: none;
}

.a-logo:hover {
    text-decoration: underline;
}

.a-logo:active {
    text-decoration: underline;
}

.info {
    align-self:flex-start;
    display: inline-block;
    font-size: 300%;
    width: 600px;
    margin-left: 10px;
    color:lightblue ;
    
    
}